In [49]:
# 82 택시요금
def taxi():
    dist = int(input('여행한 거리는? '))
    fare = dist*0.25+4
    return "요금은 "+str(fare)+"달러입니다"
print(taxi())

여행한 거리는? 10
요금은 6.5달러입니다

In [69]:
# 84 중간값

def median():
    med = []
    a = int(input())
    b = int(input())
    c = int(input())
    med.append(a)
    med.append(b)
    med.append(c)
    med.sort()
    med[1]
    return med[1]

print(median())

2
76
4
4

In [73]:
# 85 서수


def ordinal():
    ordi = int(input())

    if ordi is 1:
        return 'first'
    if ordi is 2:
        return 'second'
    if ordi is 3:
        return 'third'
    if ordi is 4:
        return 'foutrh'
    if ordi is 5:
        return 'fifth'
    if ordi is 6:
        return 'sixth'
    if ordi is 7:
        return 'seventh'
    if ordi is 8:
        return 'eighth'
    if ordi is 9:
        return 'ninth'
    if ordi is 10:
        return 'tenth'
    if ordi is 11:
        return 'eleventh'
    if ordi is 12:
        return 'twelfth'
    if ordi > 12:
        return '()'

print(ordinal())

14
()

In [74]:
# 88 삼각형


def triangle():
    tri = []
    a = int(input())
    b = int(input())
    c = int(input())
    tri.append(a)
    tri.append(b)
    tri.append(c)
    tri.sort()
    tri

    if tri[0]+tri[1] <= tri[2]:
        return '삼각형을 만들 수 없습니다.'
    else:
        return '삼각형을 만들 수 있습니다.'

print(triangle())

3
3
3
삼각형을 만들 수 있습니다.

In [142]:
# 92 소수


def primenum():
    prime = int(input())
    a = []

    for i in range(2,prime):
        if prime%i == 0:
            a.append(i)
    if a == []:
        return '소수입니다.'
    else:
        return '소수가 아닙니다.'
    
print(primenum())

4
소수가 아닙니다.